<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @eventos2.nombre %>
</p>

<p>
  <b>Titulo:</b>
  <%= @eventos2.titulo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @eventos2.fecha %>
</p>

<p>
  <b>Contenido:</b>
  <%= @eventos2.contenido %>
</p>


<%= link_to 'Edit', edit_eventos2_path(@eventos2) %> |
<%= link_to 'Back', eventos2s_path %>
